    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact Me</h2>
            <p>{{CONTACT_ME_DESCRIPTION}}</p>
            <p><a href="{{SOCIAL['Email']}}">{{SOCIAL['Email']}}</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="{{ SOCIAL['Twitter'] }}" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="{{ SOCIAL['Github'] }}" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="{{ SOCIAL['LinkedIn'] }}" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                </li>
            </ul>
        </div>
    </div>

